
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Flipkart</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">Raja Sekhar Pigilam <mat-icon>keyboard_arrow_down</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Orders</button>
    </mat-menu>

    <div class="demo-section">
      <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
      Cart
    </div>
  </mat-toolbar>
<app-main-menu></app-main-menu>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<!-- <app-cart-summary-page></app-cart-summary-page> -->
